/* Taken from https://material.io/guidelines/style/color.html#color-color-palette */

/* Changed scale to 1-10 */

.blue-1 { color: #e3f2fd; }
.bg-blue-1 { background-color: #e3f2fd; }
.b--blue-1 { border-color: #e3f2fd; }
.hover-blue-1:hover,
.hover-blue-1:focus { color: #e3f2fd; }
.hover-bg-blue-1:hover,
.hover-bg-blue-1:focus { background-color: #e3f2fd; }

.blue-2 { color: #bbdefb; }
.bg-blue-2 { background-color: #bbdefb; }
.b--blue-2 { border-color: #bbdefb; }
.hover-blue-2:hover,
.hover-blue-2:focus { color: #bbdefb; }
.hover-bg-blue-2:hover,
.hover-bg-blue-2:focus { background-color: #bbdefb; }

.blue-3 { color: #90caf9; }
.bg-blue-3 { background-color: #90caf9; }
.b--blue-3 { border-color: #90caf9; }
.hover-blue-3:hover,
.hover-blue-3:focus { color: #90caf9; }
.hover-bg-blue-3:hover,
.hover-bg-blue-3:focus { background-color: #90caf9; }

.blue-4 { color: #64b5f6; }
.bg-blue-4 { background-color: #64b5f6; }
.b--blue-4 { border-color: #64b5f6; }
.hover-blue-4:hover,
.hover-blue-4:focus { color: #64b5f6; }
.hover-bg-blue-4:hover,
.hover-bg-blue-4:focus { background-color: #64b5f6; }

.blue-5 { color: #42a5f5; }
.bg-blue-5 { background-color: #42a5f5; }
.b--blue-5 { border-color: #42a5f5; }
.hover-blue-5:hover,
.hover-blue-5:focus { color: #42a5f5; }
.hover-bg-blue-5:hover,
.hover-bg-blue-5:focus { background-color: #42a5f5; }

.blue-6 { color: #2196f3; }
.bg-blue-6 { background-color: #2196f3; }
.b--blue-6 { border-color: #2196f3; }
.hover-blue-6:hover,
.hover-blue-6:focus { color: #2196f3; }
.hover-bg-blue-6:hover,
.hover-bg-blue-6:focus { background-color: #2196f3; }

.blue-7 { color: #1e88e5; }
.bg-blue-7 { background-color: #1e88e5; }
.b--blue-7 { border-color: #1e88e5; }
.hover-blue-7:hover,
.hover-blue-7:focus { color: #1e88e5; }
.hover-bg-blue-7:hover,
.hover-bg-blue-7:focus { background-color: #1e88e5; }

.blue-8 { color: #1976d2; }
.bg-blue-8 { background-color: #1976d2; }
.b--blue-8 { border-color: #1976d2; }
.hover-blue-8:hover,
.hover-blue-8:focus { color: #1976d2; }
.hover-bg-blue-8:hover,
.hover-bg-blue-8:focus { background-color: #1976d2; }

.blue-9 { color: #1565c0; }
.bg-blue-9 { background-color: #1565c0; }
.b--blue-9 { border-color: #1565c0; }
.hover-blue-9:hover,
.hover-blue-9:focus { color: #1565c0; }
.hover-bg-blue-9:hover,
.hover-bg-blue-9:focus { background-color: #1565c0; }

.blue-10 { color: #0d47a1; }
.bg-blue-10 { background-color: #0d47a1; }
.b--blue-10 { border-color: #0d47a1; }
.hover-blue-10:hover,
.hover-blue-10:focus { color: #0d47a1; }
.hover-bg-blue-10:hover,
.hover-bg-blue-10:focus { background-color: #0d47a1; }
