/* Taken from https://material.io/guidelines/style/color.html#color-color-palette */

/* Changed scale to 1-10 */

.deep-orange-1 { color: #fbe9e7; }
.bg-deep-orange-1 { background-color: #fbe9e7; }
.b--deep-orange-1 { border-color: #fbe9e7; }
.hover-deep-orange-1:hover,
.hover-deep-orange-1:focus { color: #fbe9e7; }
.hover-bg-deep-orange-1:hover,
.hover-bg-deep-orange-1:focus { background-color: #fbe9e7; }

.deep-orange-2 { color: #ffccbc; }
.bg-deep-orange-2 { background-color: #ffccbc; }
.b--deep-orange-2 { border-color: #ffccbc; }
.hover-deep-orange-2:hover,
.hover-deep-orange-2:focus { color: #ffccbc; }
.hover-bg-deep-orange-2:hover,
.hover-bg-deep-orange-2:focus { background-color: #ffccbc; }

.deep-orange-3 { color: #ffab91; }
.bg-deep-orange-3 { background-color: #ffab91; }
.b--deep-orange-3 { border-color: #ffab91; }
.hover-deep-orange-3:hover,
.hover-deep-orange-3:focus { color: #ffab91; }
.hover-bg-deep-orange-3:hover,
.hover-bg-deep-orange-3:focus { background-color: #ffab91; }

.deep-orange-4 { color: #ff8a65; }
.bg-deep-orange-4 { background-color: #ff8a65; }
.b--deep-orange-4 { border-color: #ff8a65; }
.hover-deep-orange-4:hover,
.hover-deep-orange-4:focus { color: #ff8a65; }
.hover-bg-deep-orange-4:hover,
.hover-bg-deep-orange-4:focus { background-color: #ff8a65; }

.deep-orange-5 { color: #ff7043; }
.bg-deep-orange-5 { background-color: #ff7043; }
.b--deep-orange-5 { border-color: #ff7043; }
.hover-deep-orange-5:hover,
.hover-deep-orange-5:focus { color: #ff7043; }
.hover-bg-deep-orange-5:hover,
.hover-bg-deep-orange-5:focus { background-color: #ff7043; }

.deep-orange-6 { color: #ff5722; }
.bg-deep-orange-6 { background-color: #ff5722; }
.b--deep-orange-6 { border-color: #ff5722; }
.hover-deep-orange-6:hover,
.hover-deep-orange-6:focus { color: #ff5722; }
.hover-bg-deep-orange-6:hover,
.hover-bg-deep-orange-6:focus { background-color: #ff5722; }

.deep-orange-7 { color: #f4511e; }
.bg-deep-orange-7 { background-color: #f4511e; }
.b--deep-orange-7 { border-color: #f4511e; }
.hover-deep-orange-7:hover,
.hover-deep-orange-7:focus { color: #f4511e; }
.hover-bg-deep-orange-7:hover,
.hover-bg-deep-orange-7:focus { background-color: #f4511e; }

.deep-orange-8 { color: #e64a19; }
.bg-deep-orange-8 { background-color: #e64a19; }
.b--deep-orange-8 { border-color: #e64a19; }
.hover-deep-orange-8:hover,
.hover-deep-orange-8:focus { color: #e64a19; }
.hover-bg-deep-orange-8:hover,
.hover-bg-deep-orange-8:focus { background-color: #e64a19; }

.deep-orange-9 { color: #d84315; }
.bg-deep-orange-9 { background-color: #d84315; }
.b--deep-orange-9 { border-color: #d84315; }
.hover-deep-orange-9:hover,
.hover-deep-orange-9:focus { color: #d84315; }
.hover-bg-deep-orange-9:hover,
.hover-bg-deep-orange-9:focus { background-color: #d84315; }

.deep-orange-10 { color: #bf360c; }
.bg-deep-orange-10 { background-color: #bf360c; }
.b--deep-orange-10 { border-color: #bf360c; }
.hover-deep-orange-10:hover,
.hover-deep-orange-10:focus { color: #bf360c; }
.hover-bg-deep-orange-10:hover,
.hover-bg-deep-orange-10:focus { background-color: #bf360c; }
