/* Taken from https://material.io/guidelines/style/color.html#color-color-palette */

/* Changed scale to 1-10 */

.amber-1 { color: #fff8e1; }
.bg-amber-1 { background-color: #fff8e1; }
.b--amber-1 { border-color: #fff8e1; }
.hover-amber-1:hover,
.hover-amber-1:focus { color: #fff8e1; }
.hover-bg-amber-1:hover,
.hover-bg-amber-1:focus { background-color: #fff8e1; }

.amber-2 { color: #ffecb3; }
.bg-amber-2 { background-color: #ffecb3; }
.b--amber-2 { border-color: #ffecb3; }
.hover-amber-2:hover,
.hover-amber-2:focus { color: #ffecb3; }
.hover-bg-amber-2:hover,
.hover-bg-amber-2:focus { background-color: #ffecb3; }

.amber-3 { color: #ffe082; }
.bg-amber-3 { background-color: #ffe082; }
.b--amber-3 { border-color: #ffe082; }
.hover-amber-3:hover,
.hover-amber-3:focus { color: #ffe082; }
.hover-bg-amber-3:hover,
.hover-bg-amber-3:focus { background-color: #ffe082; }

.amber-4 { color: #ffd54f; }
.bg-amber-4 { background-color: #ffd54f; }
.b--amber-4 { border-color: #ffd54f; }
.hover-amber-4:hover,
.hover-amber-4:focus { color: #ffd54f; }
.hover-bg-amber-4:hover,
.hover-bg-amber-4:focus { background-color: #ffd54f; }

.amber-5 { color: #ffca28; }
.bg-amber-5 { background-color: #ffca28; }
.b--amber-5 { border-color: #ffca28; }
.hover-amber-5:hover,
.hover-amber-5:focus { color: #ffca28; }
.hover-bg-amber-5:hover,
.hover-bg-amber-5:focus { background-color: #ffca28; }

.amber-6 { color: #ffc107; }
.bg-amber-6 { background-color: #ffc107; }
.b--amber-6 { border-color: #ffc107; }
.hover-amber-6:hover,
.hover-amber-6:focus { color: #ffc107; }
.hover-bg-amber-6:hover,
.hover-bg-amber-6:focus { background-color: #ffc107; }

.amber-7 { color: #ffb300; }
.bg-amber-7 { background-color: #ffb300; }
.b--amber-7 { border-color: #ffb300; }
.hover-amber-7:hover,
.hover-amber-7:focus { color: #ffb300; }
.hover-bg-amber-7:hover,
.hover-bg-amber-7:focus { background-color: #ffb300; }

.amber-8 { color: #ffa000; }
.bg-amber-8 { background-color: #ffa000; }
.b--amber-8 { border-color: #ffa000; }
.hover-amber-8:hover,
.hover-amber-8:focus { color: #ffa000; }
.hover-bg-amber-8:hover,
.hover-bg-amber-8:focus { background-color: #ffa000; }

.amber-9 { color: #ff8f00; }
.bg-amber-9 { background-color: #ff8f00; }
.b--amber-9 { border-color: #ff8f00; }
.hover-amber-9:hover,
.hover-amber-9:focus { color: #ff8f00; }
.hover-bg-amber-9:hover,
.hover-bg-amber-9:focus { background-color: #ff8f00; }

.amber-10 { color: #ff6f00; }
.bg-amber-10 { background-color: #ff6f00; }
.b--amber-10 { border-color: #ff6f00; }
.hover-amber-10:hover,
.hover-amber-10:focus { color: #ff6f00; }
.hover-bg-amber-10:hover,
.hover-bg-amber-10:focus { background-color: #ff6f00; }
