/* Add to custom variables - taken from https://material.io/guidelines/style/color.html#color-color-palette */

.orange-50 { color: #fff3e0; }
.bg-orange-50 { background-color: #fff3e0; }
.b--orange-50 { border-color: #fff3e0; }
.hover-orange-50:hover,
.hover-orange-50:focus { color: #fff3e0; }
.hover-bg-orange-50:hover,
.hover-bg-orange-50:focus { background-color: #fff3e0; }

.orange-100 { color: #ffe0b2; }
.bg-orange-100 { background-color: #ffe0b2; }
.b--orange-100 { border-color: #ffe0b2; }
.hover-orange-100:hover,
.hover-orange-100:focus { color: #ffe0b2; }
.hover-bg-orange-100:hover,
.hover-bg-orange-100:focus { background-color: #ffe0b2; }

.orange-200 { color: #ffcc80; }
.bg-orange-200 { background-color: #ffcc80; }
.b--orange-200 { border-color: #ffcc80; }
.hover-orange-200:hover,
.hover-orange-200:focus { color: #ffcc80; }
.hover-bg-orange-200:hover,
.hover-bg-orange-200:focus { background-color: #ffcc80; }

.orange-300 { color: #ffb74d; }
.bg-orange-300 { background-color: #ffb74d; }
.b--orange-300 { border-color: #ffb74d; }
.hover-orange-300:hover,
.hover-orange-300:focus { color: #ffb74d; }
.hover-bg-orange-300:hover,
.hover-bg-orange-300:focus { background-color: #ffb74d; }

.orange-400 { color: #ffa726; }
.bg-orange-400 { background-color: #ffa726; }
.b--orange-400 { border-color: #ffa726; }
.hover-orange-400:hover,
.hover-orange-400:focus { color: #ffa726; }
.hover-bg-orange-400:hover,
.hover-bg-orange-400:focus { background-color: #ffa726; }

.orange-500 { color: #ff9800; }
.bg-orange-500 { background-color: #ff9800; }
.b--orange-500 { border-color: #ff9800; }
.hover-orange-500:hover,
.hover-orange-500:focus { color: #ff9800; }
.hover-bg-orange-500:hover,
.hover-bg-orange-500:focus { background-color: #ff9800; }

.orange-600 { color: #fb8c00; }
.bg-orange-600 { background-color: #fb8c00; }
.b--orange-600 { border-color: #fb8c00; }
.hover-orange-600:hover,
.hover-orange-600:focus { color: #fb8c00; }
.hover-bg-orange-600:hover,
.hover-bg-orange-600:focus { background-color: #fb8c00; }

.orange-700 { color: #f57c00; }
.bg-orange-700 { background-color: #f57c00; }
.b--orange-700 { border-color: #f57c00; }
.hover-orange-700:hover,
.hover-orange-700:focus { color: #f57c00; }
.hover-bg-orange-700:hover,
.hover-bg-orange-700:focus { background-color: #f57c00; }

.orange-800 { color: #ef6c00; }
.bg-orange-800 { background-color: #ef6c00; }
.b--orange-800 { border-color: #ef6c00; }
.hover-orange-800:hover,
.hover-orange-800:focus { color: #ef6c00; }
.hover-bg-orange-800:hover,
.hover-bg-orange-800:focus { background-color: #ef6c00; }

.orange-900 { color: #e65100; }
.bg-orange-900 { background-color: #e65100; }
.b--orange-900 { border-color: #e65100; }
.hover-orange-900:hover,
.hover-orange-900:focus { color: #e65100; }
.hover-bg-orange-900:hover,
.hover-bg-orange-900:focus { background-color: #e65100; }

.orange-a100 { color: #ffd180; }
.bg-orange-a100 { background-color: #ffd180; }
.b--orange-a100 { border-color: #ffd180; }
.hover-orange-a100:hover,
.hover-orange-a100:focus { color: #ffd180; }
.hover-bg-orange-a100:hover,
.hover-bg-orange-a100:focus { background-color: #ffd180; }

.orange-a200 { color: #ffab40; }
.bg-orange-a200 { background-color: #ffab40; }
.b--orange-a200 { border-color: #ffab40; }
.hover-orange-a200:hover,
.hover-orange-a200:focus { color: #ffab40; }
.hover-bg-orange-a200:hover,
.hover-bg-orange-a200:focus { background-color: #ffab40; }

.orange-a400 { color: #ff9100; }
.bg-orange-a400 { background-color: #ff9100; }
.b--orange-a400 { border-color: #ff9100; }
.hover-orange-a400:hover,
.hover-orange-a400:focus { color: #ff9100; }
.hover-bg-orange-a400:hover,
.hover-bg-orange-a400:focus { background-color: #ff9100; }

.orange-a700 { color: #ff6d00; }
.bg-orange-a700 { background-color: #ff6d00; }
.b--orange-a700 { border-color: #ff6d00; }
.hover-orange-a700:hover,
.hover-orange-a700:focus { color: #ff6d00; }
.hover-bg-orange-a700:hover,
.hover-bg-orange-a700:focus { background-color: #ff6d00; }
