
// Converted Variables


// Custom Media Query Variables

.deep-orange-50 { color: #fbe9e7; }
.bg-deep-orange-50 { background-color: #fbe9e7; }
.b--deep-orange-50 { border-color: #fbe9e7; }
.hover-deep-orange-50:hover,
.hover-deep-orange-50:focus { color: #fbe9e7; }
.hover-bg-deep-orange-50:hover,
.hover-bg-deep-orange-50:focus { background-color: #fbe9e7; }

.deep-orange-100 { color: #ffccbc; }
.bg-deep-orange-100 { background-color: #ffccbc; }
.b--deep-orange-100 { border-color: #ffccbc; }
.hover-deep-orange-100:hover,
.hover-deep-orange-100:focus { color: #ffccbc; }
.hover-bg-deep-orange-100:hover,
.hover-bg-deep-orange-100:focus { background-color: #ffccbc; }

.deep-orange-200 { color: #ffab91; }
.bg-deep-orange-200 { background-color: #ffab91; }
.b--deep-orange-200 { border-color: #ffab91; }
.hover-deep-orange-200:hover,
.hover-deep-orange-200:focus { color: #ffab91; }
.hover-bg-deep-orange-200:hover,
.hover-bg-deep-orange-200:focus { background-color: #ffab91; }

.deep-orange-300 { color: #ff8a65; }
.bg-deep-orange-300 { background-color: #ff8a65; }
.b--deep-orange-300 { border-color: #ff8a65; }
.hover-deep-orange-300:hover,
.hover-deep-orange-300:focus { color: #ff8a65; }
.hover-bg-deep-orange-300:hover,
.hover-bg-deep-orange-300:focus { background-color: #ff8a65; }

.deep-orange-400 { color: #ff7043; }
.bg-deep-orange-400 { background-color: #ff7043; }
.b--deep-orange-400 { border-color: #ff7043; }
.hover-deep-orange-400:hover,
.hover-deep-orange-400:focus { color: #ff7043; }
.hover-bg-deep-orange-400:hover,
.hover-bg-deep-orange-400:focus { background-color: #ff7043; }

.deep-orange-500 { color: #ff5722; }
.bg-deep-orange-500 { background-color: #ff5722; }
.b--deep-orange-500 { border-color: #ff5722; }
.hover-deep-orange-500:hover,
.hover-deep-orange-500:focus { color: #ff5722; }
.hover-bg-deep-orange-500:hover,
.hover-bg-deep-orange-500:focus { background-color: #ff5722; }

.deep-orange-600 { color: #f4511e; }
.bg-deep-orange-600 { background-color: #f4511e; }
.b--deep-orange-600 { border-color: #f4511e; }
.hover-deep-orange-600:hover,
.hover-deep-orange-600:focus { color: #f4511e; }
.hover-bg-deep-orange-600:hover,
.hover-bg-deep-orange-600:focus { background-color: #f4511e; }

.deep-orange-700 { color: #e64a19; }
.bg-deep-orange-700 { background-color: #e64a19; }
.b--deep-orange-700 { border-color: #e64a19; }
.hover-deep-orange-700:hover,
.hover-deep-orange-700:focus { color: #e64a19; }
.hover-bg-deep-orange-700:hover,
.hover-bg-deep-orange-700:focus { background-color: #e64a19; }

.deep-orange-800 { color: #d84315; }
.bg-deep-orange-800 { background-color: #d84315; }
.b--deep-orange-800 { border-color: #d84315; }
.hover-deep-orange-800:hover,
.hover-deep-orange-800:focus { color: #d84315; }
.hover-bg-deep-orange-800:hover,
.hover-bg-deep-orange-800:focus { background-color: #d84315; }

.deep-orange-900 { color: #bf360c; }
.bg-deep-orange-900 { background-color: #bf360c; }
.b--deep-orange-900 { border-color: #bf360c; }
.hover-deep-orange-900:hover,
.hover-deep-orange-900:focus { color: #bf360c; }
.hover-bg-deep-orange-900:hover,
.hover-bg-deep-orange-900:focus { background-color: #bf360c; }

.deep-orange-a100 { color: #ff9e80; }
.bg-deep-orange-a100 { background-color: #ff9e80; }
.b--deep-orange-a100 { border-color: #ff9e80; }
.hover-deep-orange-a100:hover,
.hover-deep-orange-a100:focus { color: #ff9e80; }
.hover-bg-deep-orange-a100:hover,
.hover-bg-deep-orange-a100:focus { background-color: #ff9e80; }

.deep-orange-a200 { color: #ff6e40; }
.bg-deep-orange-a200 { background-color: #ff6e40; }
.b--deep-orange-a200 { border-color: #ff6e40; }
.hover-deep-orange-a200:hover,
.hover-deep-orange-a200:focus { color: #ff6e40; }
.hover-bg-deep-orange-a200:hover,
.hover-bg-deep-orange-a200:focus { background-color: #ff6e40; }

.deep-orange-a400 { color: #ff3d00; }
.bg-deep-orange-a400 { background-color: #ff3d00; }
.b--deep-orange-a400 { border-color: #ff3d00; }
.hover-deep-orange-a400:hover,
.hover-deep-orange-a400:focus { color: #ff3d00; }
.hover-bg-deep-orange-a400:hover,
.hover-bg-deep-orange-a400:focus { background-color: #ff3d00; }

.deep-orange-a700 { color: #dd2c00; }
.bg-deep-orange-a700 { background-color: #dd2c00; }
.b--deep-orange-a700 { border-color: #dd2c00; }
.hover-deep-orange-a700:hover,
.hover-deep-orange-a700:focus { color: #dd2c00; }
.hover-bg-deep-orange-a700:hover,
.hover-bg-deep-orange-a700:focus { background-color: #dd2c00; }
