/* Taken from https://material.io/guidelines/style/color.html#color-color-palette */

/* Changed scale to 1-10 */

.orange-1 { color: #fff3e0; }
.bg-orange-1 { background-color: #fff3e0; }
.b--orange-1 { border-color: #fff3e0; }
.hover-orange-1:hover,
.hover-orange-1:focus { color: #fff3e0; }
.hover-bg-orange-1:hover,
.hover-bg-orange-1:focus { background-color: #fff3e0; }

.orange-2 { color: #ffe0b2; }
.bg-orange-2 { background-color: #ffe0b2; }
.b--orange-2 { border-color: #ffe0b2; }
.hover-orange-2:hover,
.hover-orange-2:focus { color: #ffe0b2; }
.hover-bg-orange-2:hover,
.hover-bg-orange-2:focus { background-color: #ffe0b2; }

.orange-3 { color: #ffcc80; }
.bg-orange-3 { background-color: #ffcc80; }
.b--orange-3 { border-color: #ffcc80; }
.hover-orange-3:hover,
.hover-orange-3:focus { color: #ffcc80; }
.hover-bg-orange-3:hover,
.hover-bg-orange-3:focus { background-color: #ffcc80; }

.orange-4 { color: #ffb74d; }
.bg-orange-4 { background-color: #ffb74d; }
.b--orange-4 { border-color: #ffb74d; }
.hover-orange-4:hover,
.hover-orange-4:focus { color: #ffb74d; }
.hover-bg-orange-4:hover,
.hover-bg-orange-4:focus { background-color: #ffb74d; }

.orange-5 { color: #ffa726; }
.bg-orange-5 { background-color: #ffa726; }
.b--orange-5 { border-color: #ffa726; }
.hover-orange-5:hover,
.hover-orange-5:focus { color: #ffa726; }
.hover-bg-orange-5:hover,
.hover-bg-orange-5:focus { background-color: #ffa726; }

.orange-6 { color: #ff9800; }
.bg-orange-6 { background-color: #ff9800; }
.b--orange-6 { border-color: #ff9800; }
.hover-orange-6:hover,
.hover-orange-6:focus { color: #ff9800; }
.hover-bg-orange-6:hover,
.hover-bg-orange-6:focus { background-color: #ff9800; }

.orange-7 { color: #fb8c00; }
.bg-orange-7 { background-color: #fb8c00; }
.b--orange-7 { border-color: #fb8c00; }
.hover-orange-7:hover,
.hover-orange-7:focus { color: #fb8c00; }
.hover-bg-orange-7:hover,
.hover-bg-orange-7:focus { background-color: #fb8c00; }

.orange-8 { color: #f57c00; }
.bg-orange-8 { background-color: #f57c00; }
.b--orange-8 { border-color: #f57c00; }
.hover-orange-8:hover,
.hover-orange-8:focus { color: #f57c00; }
.hover-bg-orange-8:hover,
.hover-bg-orange-8:focus { background-color: #f57c00; }

.orange-9 { color: #ef6c00; }
.bg-orange-9 { background-color: #ef6c00; }
.b--orange-9 { border-color: #ef6c00; }
.hover-orange-9:hover,
.hover-orange-9:focus { color: #ef6c00; }
.hover-bg-orange-9:hover,
.hover-bg-orange-9:focus { background-color: #ef6c00; }

.orange-10 { color: #e65100; }
.bg-orange-10 { background-color: #e65100; }
.b--orange-10 { border-color: #e65100; }
.hover-orange-10:hover,
.hover-orange-10:focus { color: #e65100; }
.hover-bg-orange-10:hover,
.hover-bg-orange-10:focus { background-color: #e65100; }
