/* firefox photon teal */

.teal-50 { color: #00feff; }
.bg-teal-50 { background-color: #00feff; }
.b--teal-50 { border-color: #00feff; }
.hover-teal-50:hover,
.hover-teal-50:focus { color: #00feff; }
.hover-bg-teal-50:hover,
.hover-bg-teal-50:focus { background-color: #00feff; }

.teal-60 { color: #00c8d7; }
.bg-teal-60 { background-color: #00c8d7; }
.b--teal-60 { border-color: #00c8d7; }
.hover-teal-60:hover,
.hover-teal-60:focus { color: #00c8d7; }
.hover-bg-teal-60:hover,
.hover-bg-teal-60:focus { background-color: #00c8d7; }

.teal-70 { color: #008ea4; }
.bg-teal-70 { background-color: #008ea4; }
.b--teal-70 { border-color: #008ea4; }
.hover-teal-70:hover,
.hover-teal-70:focus { color: #008ea4; }
.hover-bg-teal-70:hover,
.hover-bg-teal-70:focus { background-color: #008ea4; }

.teal-80 { color: #005a71; }
.bg-teal-80 { background-color: #005a71; }
.b--teal-80 { border-color: #005a71; }
.hover-teal-80:hover,
.hover-teal-80:focus { color: #005a71; }
.hover-bg-teal-80:hover,
.hover-bg-teal-80:focus { background-color: #005a71; }

.teal-90 { color: #002d3e; }
.bg-teal-90 { background-color: #002d3e; }
.b--teal-90 { border-color: #002d3e; }
.hover-teal-90:hover,
.hover-teal-90:focus { color: #002d3e; }
.hover-bg-teal-90:hover,
.hover-bg-teal-90:focus { background-color: #002d3e; }
